.header {
	display: block;
	width: 100%;
	height: 30px;
}

.outputRow {
	display: flex;
}

.outputRowItem {
	width: 150px;
	display:inline-block;
	text-align: center;
	border: solid 1px black;
	border-top: 0px;
}

.outputRowHeader {
	display: inline-block;
	text-align: center;
	width: 150px;
	border: solid 1px black;
}

.inputRowLabel {
	display: inline-block;
	width:150px;
}